*{
	box-sizing: border-box;
}
body{
	margin:0;
} 
/*head section*/
header{
	position:-webkit-sticky;
	top:0;
	position: sticky;
	overflow:hidden;
	width:100%;
	background-color: #0e76a8;
	box-shadow:0 0.5px 3px 0 #808080;
	padding: 0.2em;
	text-align: center;
	align-items: center;
}
.flex{
	display: flex;
	justify-content: space-between; 
}
.container{
	width: 95%;
	margin: 0 auto;
}
.img-container{
	width:2em;
	height:2em;
	border-radius: 50%;
}
.image{
width: 100%;
border: 1px solid #fff;
border-radius: 50%;
}
header .container i{
	align-self: center;
}
.icon-container{
	width:3em;
}
.Search-box{
	width:70%;
	border:0.1em solid #dcdcdc;
	background-color:#f5f5f5;
	border-radius: 0.2em;
}
.text-box{
	width:70%;
	background-color:#f5f5f5;
	border: none;
}

/*middle section*/
.middle-container{
	width: 100%;
}
.post-box{
	margin-top: 1em;
	box-shadow: 0 -5px 5px -5px #808080;
	/*top ka */
}
.post-box-1{
	/*border: 0.1em solid #0f0;*/
	padding: 0.5em;
	box-shadow:0 0.2px 1px 0 #808080;
}
.span-box1{
	width: 80%; 	
}
.post-box-2{
	/*background-color: blue;*/
	/*border: 0.1em solid #00f;*/
	box-shadow:0 0.5px 1px 0 #808080;
		display: flex;
}
.img-sub{
	width:3em;
	height:3em;
	margin: 0.5em;
}
.pro-img{
	max-width: 100%;
}
.big-span{
	width: 80%;
	align-self: center; 
	/*border: 0.1em solid yellow;*/

}
.span2{
	display: block;
	color: #cdcdcd;
}
.span3{
	color: #cdcdcd;
}
/*post-box-3*/
.post-box-3{
	padding: 0.5em;
	box-shadow:0 0.5px 3px 0 #808080;
}
.profile-container{
	width:100%;
}
.proflie{
	width:100%;

}
.like-section{
	width:95%;
	border-bottom: 0.1em solid #808080;
}
.link-message{
	padding-bottom:0.2em;
	padding-top:0.2em; 
	width: 100%;
	background-color: #cdcdcd;
}
.link-msg{
	color:#808080;
	text-decoration: none;
}
.iconsTray{
	width:85%;
	margin-left:1.5em;
}
/*footer section*/ 
footer{
	bottom: 0;	
	position:sticky;
	overflow:hidden;
	width:100%;
	background-color:#f5f5f5;
	box-shadow: inset 0 1px 2px 0 #696969;
	padding: 0.5em;
}
.footer-icons{
	justify-content: space-between;
	display: flex;
}

/*desktop mode*/
@media (min-width:720px){
		footer{
			display: none;
		}
}